body {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: 'Lateef', cursive;
    background: #a5a5a1;
}

/* start header */
header {
    background: #ffffff;
    position: sticky;
    top: 0%;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    background: linear-gradient(to right, #b7aa78, #939481);
}

nav {
    display: contents;
}

li {
    display: inline-block;
}

li a {
    color: #00000057;
    text-decoration: none;
    height: 85px;
    font-family: 'Reem Kufi', sans-serif;
    margin-left: 50px;
    margin-right: -10px;
}

li a:hover {
    color: black;
}

.logo {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(to right, #f7d690, #939481);
}

h2 {
    margin: 0.7rem;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 30px;
}

.sign {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 a {
    text-decoration: none;
    color: black;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 20px;
}

@media (max-width:576px) {
    li {
        display: block;
    }
}

/* end header */

/* start contact */
.contact-app {
    position: fixed;
    left: 0;
    top: 60%;
    z-index: 90000;
    background: #f7d690;
    box-shadow: 0px 3px 7px 0px black;
}

.contact-app .contactbox {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-app .contactbox a {
    color: black;
    font-size: 20px;
}

/* End contact */

/* start alert */
.alert {
    text-align: center;
    width: 30%;
    margin: 4rem auto 0 auto;
    padding: 0.5rem;
    border: 2px solid;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: bold;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;

}

.alert-error {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;

}

/* end alert */

/* start form */
.bigforma {
    height: 500px;
    position: relative;
}

form.loginn {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
    /* background: linear-gradient(to left, #b6fbff, #83a4d4); */
    box-shadow: -1px 0px 8px 0px black;
    max-height: 19rem;
    margin-bottom: 6.9rem;
}

h2.login {
    margin: 0.7rem;
    font-family: 'Reem Kufi', sans-serif;
    font-size: 30px;
    text-align: center;
}

.forma {
    text-align: center;
}

input.n {
    background: #fff;
    width: 44%;
    margin: 1rem auto 0 auto;
}

.forma input.b {
    position: relative;
    top: -8px;
    display: block;
    width: 16vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: none;
    background: #c4aa78;
    color: #000000;
    cursor: pointer;
    font-size: 1.1rem;
    padding-top: 0.3rem;
    padding-bottom: .3rem;
    border-radius: 11px;
    box-shadow: 0px 4px 7px black;
}

a.forget {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a.forget:hover {
    color: rgb(30, 124, 206);
}

.fff {
    padding-bottom: 10px;
}

/* end form */


/* start footer */
footer {
    position: relative;
}

footer .content {
    min-height: 40px;
    margin: auto;
    padding: 1px 0;
    text-align: center;
    background-color: #8c8c8c;
}

footer .content p {
    color: #000000;
    font-weight: bold;
}

/* End footer */