.qesa1 {
    margin-bottom: 1rem;
    width: 54%;
    margin-left: auto;
    margin-right: auto;
    background: #c0c0c0;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 1s;
    position: relative;
    box-shadow: 3px 1px 16px 0px rgb(255, 255, 255);
    border-radius: 12px 12px 12px 12px;
    outline: #f3f3f3 solid;
}

video {
    width: 30vw;
    height: 22vw;
    position: relative;
    top: -12px;
}

span.qesa6 {
    position: absolute;
    top: -5px;
    left: 10px;
    width: 37%;
    text-align: center;
}

span.qesa6::before {
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    right: 0;
    height: 4px;
    background: #a5a5a1;
}

span.qesa6::after {
    content: '';
    position: absolute;
    top: 25%;
    width: 100%;
    right: 0;
    height: 4px;
    background: #a5a5a1;
}

h1.qesa3 {
    font-size: 3.5vw;
    margin-right: 25px;
    position: relative;
}

h1.qesa3::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    background: black;
    right: -25px;
    top: 4px;
}

h1.qesa5 {
    font-size: 3.5vw;
}

p.qesa4 {
    font-size: 2.5vw;
    font-weight: bold;
    margin-top: 2px;
    text-align: center;
    width: 30vw;
    background: #a5a5a1;
    color: black;
    transition: .5s;
}

p.qesa4 a {
    text-decoration: none;
    color: black;
    transition: .5s;
}

p.qesa4 a:hover {
    color: white;
}

.shahed1 {
    display: inline-block;
    margin-top: .5vw;
    height: 4vw;
}

img {
    /* width: 48%;
    height: 4vw; */
    width: 10vw;
}